.home-page-container {
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.link-1 {
  /* font-size: 12 !important; */
  transform: rotate(5deg) !important;
}

.link-2 {
  /* font-size: 12 !important; */
  transform: rotate(-5deg) !important;
}

@media screen and (max-width:  769px) {
  .logo {
    left: 20%;
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 481px) {
  .angel {
    left: 0%;
  }
}

.link2 {
  position: absolute;
  top: 30%;
  left: 20%;
}

.link3 {
  position: absolute;
  top: 40%;
  left: 30%;
}


.link4 {
  position: absolute;
  top: 50%;
  left: 20%;
}

.link5 {
  position: absolute;
  top: 60%;
  left: 30%;
}

.link6 {
  position: absolute;
  top: 70%;
  left: 40%;
}

.link1 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.link7 {
  position: absolute;
  top: 80%;
  left: 20%;
}