@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  color: white !important;
  font-smooth: never !important;
  -webkit-font-smoothing : none !important;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: black;
}

img {
  image-rendering: pixelated;
  pointer-events: none;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

a:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255,255,255,.2);
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1); /* chromatic abberation */
}

a {
  border: 0px #000 !important;
  text-decoration: none;
}

.page-container {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 12vh;
  width: auto;
  z-index: 100;
  opacity: 0.8;
}


.bright-logo {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 12vh;
  width: auto;
  z-index: 100;
}


.angel {
  position: fixed;
  top: 0%;
  left: 10%;
  opacity: .3;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
  z-index: 0;
}

.menu-text {

}

.menu-logo {
  position: absolute;
  top: 0;
  height: 5vh;
  width: auto;
  z-index: 100;
  opacity: 0.8;
}

.menu_sidebar {
  position: fixed;
  top: 20%;
  left: 5%;
  height: 100vh;
  width: 15vh;
  z-index:10;
  text-align:left;
}

.menu_sidebar li {
  padding:12px;
  font-size: large;
  transition:all 0.5s;
  letter-spacing:1px;
  list-style-type: none;
}

.main_content {
  position: absolute;
  top: 20%;
  left: 25%;
}