@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  color: white !important;
  font-smooth: never !important;
  -webkit-font-smoothing : none !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: black;
}

img {
  image-rendering: pixelated;
  pointer-events: none;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

a:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255,255,255,.2);
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1); /* chromatic abberation */
}

a {
  border: 0px #000 !important;
  text-decoration: none;
}